/* body {
    background: url(./images/galaxy\ background.jpg) center no-repeat;
} */

body {
    height: 100vh;
    min-height: 100%;
    background-image: url(./images/galaxy\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

header {
        display: block;
        color: #D2F8FA;
        font-family: 'Press Start 2P', cursive;
        font-size: 25px;
        text-align: center;
}

 #swamp-monster > img {
    max-height: 150px;
    position: absolute;
    top: 25%;
    left: 10%
 }

 #dinosaur-monster > img {
    max-height: 150px;
    position: absolute;
    top: 50%;
    left: 20%
 }

 

#eyeball-monster > img {
    max-height: 200px;
    position: absolute;
    top: 35%;
    left: 60%
}

#bomb-monster > img {
    max-height: 200px;
    position: absolute;
    top: 30%;
    left: 40%
}

#blob-monster > img {
    max-height: 200px;
    position: absolute;
    top: 50%;
    left: 80%
}